{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <h1>Lista de Estudiantes</h1>
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Legajo</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for estudiante in estudiantes %}
              <tr>
                <td>{{ estudiante.legajo }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>{{ estudiante.dni }}</td>
                <td><a href="{% url 'detalle_estudiante' estudiante.legajo %}" class="btn btn-primary">Ver más</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
