{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>


<div id="AgregarEstudiante" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Agregar nuevo estudiante</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'agregar_estudiante' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_estudiante %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form_estudiante.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}      
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarEstudiante" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Editar estudiante</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'editar_estudiante' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="dni_editar" name="dni_editar">
                    {% for field in form_editar %}
                    <p> {{field.label}} <br>
                        {{field|add_class:"form-control"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form_editar.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EliminarEstudiante" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Eliminar estudiante</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro?</p>
                <form id="formulario-eliminar-estudiante" method="POST" action="{% url 'eliminar_estudiante' %}">{% csrf_token %}
                    <input type="hidden" id="legajo_estudiante" name="legajo_estudiante">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Estudiantes <i class="fas fa-users"></i></h3>
        <div class="col-md-3 pb-2">
            <a href="#AgregarEstudiante"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Estudiante
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Carrera</th>
                        <th>Estado</th>
                        <th>Sexo</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.dni }}</td>
                        <td>{{ estudiante.legajo }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                        <td>{{ estudiante.correo }}</td>
                        <td>{{ estudiante.carrera }}</td>
                        <td>{{ estudiante.estado }}</td>
                        <td>{{ estudiante.get_sexo_display }}</td>
                        <td>
                            <button onclick="editarEstudiante('{{ estudiante.dni }}', '{{ estudiante.legajo }}', '{{ estudiante.nombre }}', '{{ estudiante.apellido }}','{{ estudiante.correo }}','{{ estudiante.carrera }}')" class="btn btn-dark-outline btn-sm" data-toggle="modal"
                                href="#EditarEstudiante"><img src="{% static 'index/img/editar.png' %}" alt="Error"
                                    width="30"></button>
                            <button onclick="eliminarEstudiante('{{ estudiante.legajo }}')" class="btn btn-dark-outline btn-sm"
                                data-toggle="modal" href="#EliminarEstudiante"><img
                                    src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error...',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}
