{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>


<div id="AgregarMateria" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Agregar nuevo</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'AddMateria' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_materia %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}      
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarMateria" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Editar</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'EditMateria' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="codigo_editar" name="codigo_editar" readonly>
                    {% for field in form_editar %}
                    <p> {{field.label}} <br>
                        {{field|add_class:"form-control"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EliminarMateria" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Eliminar</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro?</p>
                <form id="formulario-eliminar-materia" method="POST" action="{% url 'DeleteMateria' %}">{% csrf_token %}
                    <input type="hidden" id="id_materia" name="id_materia">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Materias   <i class="fas fa-users"></i></h3>
        <div class="col-md-3 pb-2">
            <a href="#AgregarMateria"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Materia
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Docente</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in materias %}
                    <tr>
                        <td>{{i.codigo}}</td>
                        <td>{{i.nombre}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.docente}}</td>
                        <td>{{i.estado}}</td>
                        <td>
                            <button onclick="editarMateria('{{i.codigo}}', '{{i.nombre}}', '{{i.descripcion}}','{{i.docente}}', '{{i.estado}}')" class="btn btn-dark-outline btn-sm" data-toggle="modal"
                                href="#EditarMateria"><img src="{% static 'index/img/editar.png' %}" alt="Error"
                                    width="30"></button>
                            <button onclick="eliminarMateria('{{i.codigo}}')" class="btn btn-dark-outline btn-sm"
                                data-toggle="modal" href="#EliminarMateria"><img
                                    src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error...',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}