{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>


<div id="AgregarDocente" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Agregar nuevo docente</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'agregar_docente' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_docente %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form_docente.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarDocente" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Editar docente</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'editar_docente' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="dni_editar" name="dni_editar">
                    {% for field in form_editar %}
                    <p> {{field.label}} <br>
                        {{field|add_class:"form-control"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form_editar.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EliminarDocente" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Eliminar docente</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro?</p>
                <form id="formulario-eliminar-docente" method="POST" action="{% url 'eliminar_docente' %}">{% csrf_token %}
                    <input type="hidden" id="dni_docente" name="dni_docente">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Docentes <i class="fas fa-chalkboard-teacher"></i></h3>
        <div class="col-md-3 pb-2">
            <a href="#AgregarDocente"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Docente
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Carrera</th>
                        <th>Estado</th>
                        <th>Sexo</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for docente in docentes %}
                    <tr>
                        <td>{{ docente.dni }}</td>
                        <td>{{ docente.legajo }}</td>
                        <td>{{ docente.nombre }}</td>
                        <td>{{ docente.apellido }}</td>
                        <td>{{ docente.correo }}</td>
                        <td>{{ docente.carrera }}</td>
                        <td>{{ docente.estado }}</td>
                        <td>{{ docente.get_sexo_display }}</td>
                        <td>
                            <button onclick="editarDocente('{{ docente.dni }}', '{{ docente.legajo }}', '{{ docente.nombre }}', '{{ docente.apellido }}','{{ docente.correo }}','{{ docente.carrera }}')" class="btn btn-dark-outline btn-sm" data-toggle="modal"
                                href="#EditarDocente"><img src="{% static 'index/img/editar.png' %}" alt="Error"
                                    width="30"></button>
                            <button onclick="eliminarDocente('{{ docente.dni }}')" class="btn btn-dark-outline btn-sm"
                                data-toggle="modal" href="#EliminarDocente"><img
                                    src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error...',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}
